<head>

</head>
<body id="email">
<div>
    {{emailheadercustom}}
</div>
<div>
    <table cellspacing="0" cellpadding="8" style="{{tbodycssstyle}}">
        <tr>
            <td colspan="2"> {{{generate_event_link}}}</td>
            <td> <h3 style="{{titlestyle}}">{{contenttitle}} </h3> </td>
        </tr>
        <tr>
            <td> {{#str}}contentwhen, local_reminders{{/str}} </td>
            <td> {{time}} </td>
            <td> {{location}} </td>
        </tr>
        {{#ifnotemptycourse}}
            <tr>
                <td> {{#str}}contenttypecourse, local_reminders {{/str}} </td>
                <td> {{fullname}}</td>
            </tr>
        {{/ifnotemptycourse}}
        {{#ifnotemptycm}}
            <tr>
                <td> {{#str}}contenttypeactivity, local_reminders{{/str}}</td>
                <td> <a href="{{cmurl}}" target="_blank"> {{cmurlname}} </a> </td>
            </tr>
        {{/ifnotemptycm}}
        {{#ifissetgroupname}}
            <tr>
                <td> {{#str}}contenttypegroup, local_reminders{{/str}} </td>
            </tr>
        {{/ifissetgroupname}}
        {{#appendinfo}}
            {{{appendinfo}}}
        {{/appendinfo}}
        <tr>
            <td>{{{descriptionscourse}}}</td>
        </tr>
        {{> local_reminders/footer }}
    </table>
</div>
</body>
